# Backend Port
BACKEND_PORT=9818

# Frontend Port
FRONTEND_PORT=9819

# API Base URL for Frontend
VITE_API_BASE_URL=https://meowdo.donusoft.com/api

# Database Configuration
DB_NAME=meowdo_db
DB_USER=meowdo_user
DB_PASSWORD=meowdo_password
